{
  "accounts": {
    "correctEmail": correctEmail,
    "correctPassword": correctpassword,
    "nonExistingUsername": nonExisting@fake.com,
    "incorrectPassword": incorrectPassword
  },
  "apis": {
    "login": loginAPI
  }
}