{
  "accounts": {
    "correctEmail": correctEmail,
    "correctPassword": correctpassword,
    "nonExistingUsername": nonExisting@fake.com,
    "incorrectPassword": incorrectPassword
  },
  "ssoCreds": {
    "validSSO": "sso@abtasty.com"
  },
  "apis": {
    "login": loginAPI,
    "ssologin": ssoLoginAPI
  }
}